<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gsuccess.atrial0314"
  android:versionCode="1"
  android:versionName="1.0">
  <application android:icon="@drawable/ic_launcher" android:label="Medication" android:debuggable="True">
    <activity 
      android:name="HomepageActivity"
      android:label="Medication"
      android:theme="@style/ToDoTheme">
      
    </activity>
    <activity android:name="AddATaskActivity"></activity>
    <activity android:name="EditTaskActivity"></activity>
    <activity android:name="ListTasksActivity"></activity>
    <activity android:name="ShowTaskActivity"></activity>
    <activity android:name="welcome">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="how"></activity>
    <activity android:name="ScheduleActivity"></activity>
  </application>
  <uses-sdk android:minSdkVersion="7" />
</manifest> 